# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/
build/
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
mt-project.xml
extjwnl.xml

# Gradle
.gradle/
build/
gradle-app.tasklog
.gradletasknamecache

# File Sistem / OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
npm-debug.log
yarn-debug.log
yarn-error.log
